Repository riscv-mcu/hbird-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

Path conditions:
  build_doc: any of: doc/source/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/source/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/source/**/**/**/*

OS: fix rt-thread portable code
  OS/RTThread/libcpu/risc-v/nuclei/cpuport.c
Due: none

npk: Fix RTOS macro not defined in RTOS npk.yml
  OS/FreeRTOS/npk.yml
  OS/RTThread/npk.yml
  OS/UCOSII/npk.yml
  SoC/hbird/Board/hbird_eval/npk.yml
  SoC/hbird/Common/npk.yml
  SoC/hbirdv2/Board/ddr200t/npk.yml
  SoC/hbirdv2/Board/mcu200t/npk.yml
  SoC/hbirdv2/Common/npk.yml
Due: none

SoC: add simulation support for hbirdv2 SoC
  SoC/hbirdv2/Common/Include/hbirdv2.h
  SoC/hbirdv2/Common/Source/hbirdv2_common.c
  SoC/hbirdv2/Common/Source/system_hbirdv2.c
Due: none

build: limit hummingbird core to e203e and e203
  Build/Makefile.core
  SoC/hbird/Common/npk.yml
  SoC/hbirdv2/Common/npk.yml
Due: none

doc: update core list and changelog
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

env: bump version to 0.1.3
  NMSIS_VERSION
  npk.yml
  package.json
Due: none

ci: update ci to match core list changes
  .github/workflows/build_sdk.yaml
  .gitlab-ci.yml
Due: build_doc, deploy_doc

SoC: Fix wrong macro define SOC_HBIRDV2 for hbirdv2 in npk.yml
  SoC/hbirdv2/Common/npk.yml
Due: none

NMSIS: Fix nmsis global typo in npk.yml
  NMSIS/npk.yml
Due: none

ci: update ci runner for hbird sdk
  .gitlab-ci.yml
Due: build_doc, deploy_doc

doc: update doc for 0.1.4 version
  doc/source/changelog.rst
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

env: bump version to 0.1.4
  package.json
Due: none

ci: update github ci
  .github/workflows/build_sdk.yaml
  .github/workflows/deploy_doc.yaml
Due: none

doc: update changelog for 0.1.4
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

env: bump npk version to 0.1.4
  npk.yml
Due: none

ci: make gitlab job interruptable
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: use share python env to build doc
  .gitlab-ci.yml
Due: build_doc, deploy_doc

ci: use 2022.12 to build sdk
  .github/workflows/build_sdk.yaml
Due: none

doc: set language to en
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

ci: force language to be english
  .gitlab-ci.yml
Due: build_doc, deploy_doc

doc: deploy doc when .gitlab-ci.yml changes
  .gitlab-ci.yml
Due: build_doc, deploy_doc

SoC: Fix fespi not rerouted to nuspi in openocd 2023.10
  SoC/hbird/Board/hbird_eval/openocd_hbird.cfg
  SoC/hbirdv2/Board/ddr200t/openocd_hbirdv2.cfg
  SoC/hbirdv2/Board/mcu200t/openocd_hbirdv2.cfg
Due: none

SoC: Fix deprecate openocd configuration usage
  SoC/hbird/Board/hbird_eval/openocd_hbird.cfg
  SoC/hbirdv2/Board/ddr200t/openocd_hbirdv2.cfg
Due: none
